.page_register {
  h1 {
    padding: 30px 0;
  }
  .ivu-tabs {
    max-width: 600px;
    padding-bottom: 30px;
  }
  .anket{
    .ivu-form-label-top .ivu-form-item-label{
      font-weight: 600;
      color: black;
    }
  }
  #uploader .ivu-upload-drag {
    width: 140px;
    height: 140px;
    cursor: pointer;
    background: #ffc586;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #eebc86;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin: 5px auto 27px;
    line-height: 170px;
  }
  .ivu-select-placeholder{
    padding-left: 35px;
  }
  .ivu-form-item {
    padding: 15px;
    margin-bottom: 0px;
  }
  form {
    max-width: 600px;
    margin: auto;
  }
  .info_checkbox {
    max-width: 600px;
  }
}

.form-icon input {
  padding-left: 35px
}

.form-person input {
  background: url(../../public/img/icons/mans.png) no-repeat 10px 6px;
}

.form-year .ivu-select-selection {
  background: url(../../public/img/icons/year.png) no-repeat 10px 6px;
  padding-left: 27px;
}

.form-password input {
  background: url(../../public/img/icons/password.png) no-repeat 10px 7px;
}

.form-email input {
  background: url(../../public/img/icons/form-email.png) no-repeat 10px 10px;
}

.form-location input {
  background: url(../../public/img/icons/form-location.png) no-repeat 11px 7px;
}

.form-tel input {
  background: url(../../public/img/icons/tel.png) no-repeat 10px 8px;
}

.form-id input {
  background: url(../../public/img/icons/form-id.png) no-repeat 10px 7px;
}

.form-org input {
  background: url(../../public/img/icons/form-org.png) no-repeat 10px 7px;
}

.form-social input {
  background: url(../../public/img/icons/form-social.png) no-repeat 9px 10px;
}

.register-step {
  font-size: 0;
  text-align: center;
  margin-bottom: 35px;
}

.register-step-block.active {
  opacity: 1;
}

.register-step-block {
  color: #000;
  font-size: 0;
  opacity: .5;
  display: inline-block;
  vertical-align: middle;
}

.register-step-arrow {
  display: inline-block;
  vertical-align: middle;
  background: url(../../public/img/icons/reg-arrow.png) no-repeat center center;
  height: 14px;
  width: 140px;
}

.register-step-number {
  width: 40px;
  height: 40px;
  background: #ff8c0e;
  border: 1px solid #dd7707;
  text-align: center;
  line-height: 38px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  margin-right: 10px;
}

.register-step-title {
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
}

.profile_img {
  cursor: pointer;
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ff8c0e;
}

.checkboxes {
  max-width: 600px;
  margin: auto;
  padding: 15px;
  .ivu-checkbox-wrapper {
    display: block;
    margin-right: 8px;
    margin-bottom: 15px;
    .ivu-checkbox {
      display: block;
      margin-bottom: 11px;
      margin-right: 10px;
      float: left;
      margin-top: 2px;
    }
  }
}

.slide-leave-active,
.slide-enter-active {
  transition: 1s;
}

.slide-enter {
  transform: translate(100%, 0);
}

.slide-leave-to {
  transform: translate(-100%, 0);
}

button[disabled="disabled"] {
  opacity: 0.5;
}